@page "/counter"
@using Songdle.Application.DTOs
@using Songdle.Application.Interfaces
@using Songdle.Infrastructure.Data
@rendermode InteractiveServer
@inject ISongProcessingService SongProcessingService
@inject AppDbContext context 

<PageTitle>Admin Panel</PageTitle>

<button class="btn btn-primary" @onclick="GetSongs">GetSongs</button>

<button class="btn btn-secondary" @onclick="SeedSongs">[DEBUG] SEED songs [DEBUG]</button>

@if (songs.Any())
{
    <ul>
        @foreach (var song in songs)
        {
            <li>@song.Title</li>
            <li>@song.Artist</li>
            <li>@song.Album</li>
        }
    </ul>
}
else
{
    <p>No songs available.</p>
}

@code {
    private IEnumerable<SongDto> songs = new List<SongDto>();
    

    private async void GetSongs()
    {
        songs = await SongProcessingService.GetAllSongsAsync();
    }

    private async void SeedSongs(){
        await SongSeeder.SeedAsync(context);
    }
}



