@page "/counter"
@using Songdle.Application.DTOs
@using Songdle.Application.Interfaces

@rendermode InteractiveServer
@inject ISongProcessingService SongProcessingService

<PageTitle>Admin Panel</PageTitle>

<button class="btn btn-primary" @onclick="GetSongs">GetSongs</button>

@if (isLoading)
{
    <p>Loading songs...</p>
}


@if (songs != null && songs.Any())
    {
        <ul>
            @foreach (var song in songs)
            {
                <li>@song.Title - @song.Artist - @song.Album</li>
            }
        </ul>
    }





@code {
    private IEnumerable<SongDto> songs = new List<SongDto>();
    private bool isLoading = false;


    private async Task GetSongs()
    {
        try
        {
            isLoading = true;
            songs = await SongProcessingService.GetAllSongsAsync();
        }
        catch (Exception ex)
        {

            Console.WriteLine($"Error fetching songs: {ex.Message}");
        }
        finally
        {
            isLoading = false;
        }

    }


}
