@page "/non-authorized"
@rendermode InteractiveServer

<h3>tf u trying to achieve lil bro 🥀🥀🥀</h3>
<iframe width="560" height="315" src="https://www.youtube.com/embed/N_pIRMxq-_Q?si=fuFItOiB5FVUzfNT&autoplay=1&rel=0&controls=0&mute=0"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>

@code {

}
